.container {
  display: flex;
  padding: 0; /* header + map-container 高度 */
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  // border: 2rpx solid red;
}

/* 顶部区域 */
.header {
  // position: fixed;
  top: 0;
  width: 95%;
  background: #ffffff;
  z-index: 1000;
  padding: 20rpx;
  box-shadow: 0 4rpx 8rpx rgba(0, 0, 0, 0.05);
  // border: 2rpx solid red;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

/* 城市 + 搜索框区域 */
.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 30rpx;
  padding: 10rpx 20rpx;
  margin-right: 20rpx;
}

.city-select {
  display: flex;
  align-items: center;
  margin-right: 20rpx;
}

.city-text {
  font-size: 26rpx;
  color: #333;
  font-weight: bold;
  margin-right: 6rpx;
}

.dropdown-icon {
  width: 20rpx;
  height: 20rpx;
}

.divider {
  width: 1rpx;
  height: 32rpx;
  background-color: #ddd;
  margin-right: 20rpx;
}

/* 搜索栏 */
.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.search-icon {
  width: 28rpx;
  height: 28rpx;
  margin-right: 10rpx;
}

.search-placeholder {
  font-size: 24rpx;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 地图按钮 */
.map-btn {
  color: #ff9900;
  font-size: 26rpx;
  flex-shrink: 0;
}

/* 蒙层样式 */
.mask-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.search-header {
  display: flex;
  align-items: center;
  padding: 20rpx;
  border-bottom: 1px solid #f0f0f0;
}

.search-input {
  flex: 1;
  height: 60rpx;
  background-color: #f5f5f5;
  border-radius: 30rpx;
  padding: 0 20rpx;
  font-size: 26rpx;
}

.cancel-btn {
  margin-left: 20rpx;
  font-size: 26rpx;
  color: #333;
}

.map-container {
  position: relative;
  // top: 100rpx; /* 与 header 高度保持一致 */
  left: 0;
  width: 100vw;
  height: 350rpx; /* 根据实际需求调整 */
  z-index: 900;
  box-sizing: border-box;
  // border: 2rpx solid red;
}

.map-area {
  width: 100%;
  height: 300rpx;
}

.map-overlay {
  position: absolute;
  bottom: 10rpx;
  right: 10rpx;
  z-index: 10;
}

.view-map-btn {
  background-color: #f90;
  border-radius: 10rpx;
  padding: 10rpx 20rpx;
  font-size: 28rpx;
  color: white;
}

.store-section {
  display: flex;
  flex: 1;
  // margin-top: 255rpx; 
  // height: calc(100vh - 255rpx); /* 占据剩余空间 */
  overflow: hidden;
  // border: 2rpx solid red;
}

.area-list {
  width: 180rpx;
  background: #f5f5f5;
}
.area1 {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.area-item {
  padding: 20rpx;
  font-size: 26rpx;
  color: #333;
}

.area-item.active {
  background: #fff;
  border-left: 6rpx solid #ffa400;
  font-weight: bold;
}

.store-list {
  flex: 1;
  padding: 20rpx;
  background: #fff;
}

.area-section {
  margin-bottom: 40rpx;
}

.area-title {
  font-size: 28rpx;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20rpx;
  background: #f5f5f5;
}

.store-card {
  padding: 30rpx 20rpx;
  background: #fff;
  margin-bottom: 20rpx;
}

.store-name-wrapper {
  display: flex;
  align-items: center;
}

.store-name {
  font-size: 32rpx;
  font-weight: bold;
  color: #222;
}

.store-arrow {
  font-size: 32rpx;
  margin-left: 10rpx;
  color: #999;
}

.tag {
  padding: 4rpx 12rpx;
  font-size: 20rpx;
  border-radius: 6rpx;
  margin-right: 8rpx;
  margin-top: 8rpx;
  display: inline-block;
}

/* 默认灰色 */
.tag-default {
  background-color: #f2f2f2;
  color: #666;
}

/* 高亮橙色 */
.tag-highlight {
  background-color: #ffe7e7;
  color: #ff5000;
}

/* 危险红色 */
.tag-danger {
  background-color: #ffe7e7;
  color: #d9001b;
}


.store-addr,
.store-time {
  font-size: 24rpx;
  color: #888;
  margin-top: 12rpx;
}

.store-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24rpx;
  gap: 20rpx;
}

.action-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26rpx;
  border-radius: 12rpx;
  background-color: #f5f5f5;
  color: #444;
  border: 1rpx solid #ccc;
}

.icon {
  margin-right: 10rpx;
  font-size: 26rpx;
}

.card-divider {
  height: 2rpx;
  background-color: #eee;
  margin: 0 20rpx; /* 左右留白 */
}


