/**app.wxss**/
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

.line {
  border-top: 10rpx solid lightseagreen;
  margin: 50rpx 0;
}

// page {
//   --color: lightseagreen;
// }
